validator/gramatica.dtd

<!ELEMENT documento (pagina+)>
<!ATTLIST documento
            fuente CDATA #REQUIRED
            paginas CDATA #REQUIRED
            fecha CDATA #IMPLIED> <!ELEMENT pagina (linea | seccion | interlinear_gloss | paralel_phrase | titulo)*>
<!ATTLIST pagina
            num CDATA #REQUIRED>

<!ELEMENT seccion (linea | seccion | interlinear_gloss | paralel_phrase | titulo)*>
<!ATTLIST seccion
            type CDATA #IMPLIED
            tipo CDATA #IMPLIED> <!ELEMENT titulo (#PCDATA)>
<!ELEMENT linea (#PCDATA)>

<!ELEMENT interlinear_gloss (paralel_phrase?, morpheme_analysis?, syntactic_analysis?)>

<!ELEMENT paralel_phrase (original, translation)>
<!ELEMENT original (#PCDATA)>
<!ELEMENT translation (#PCDATA)>

<!ELEMENT morpheme_analysis (unit+)>
<!ELEMENT syntactic_analysis (unit+)>

<!ELEMENT unit (form, gloss)>
<!ELEMENT form (#PCDATA)>
<!ELEMENT gloss (#PCDATA)>