validator/gramatica.dtd

<!ELEMENT document (page+)>
<!ATTLIST document
            source CDATA #REQUIRED
            pages CDATA #REQUIRED
            date CDATA #IMPLIED>

<!ELEMENT page (line | heading | title | interlinear_gloss | parallel_phrase)*>
<!ATTLIST page
            number CDATA #REQUIRED>

<!ELEMENT heading (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT line (#PCDATA)>

<!ELEMENT interlinear_gloss (parallel_phrase?, morpheme_analysis?, syntactic_analysis?)>

<!ELEMENT parallel_phrase (original, translation)>
<!ELEMENT original (#PCDATA)>
<!ELEMENT translation (#PCDATA)>

<!ELEMENT morpheme_analysis (unit+)>
<!ELEMENT syntactic_analysis (unit+)>

<!ELEMENT unit (form, gloss)>
<!ELEMENT form (#PCDATA)>
<!ELEMENT gloss (#PCDATA)>